<%- include("partials/header.ejs") %>
<body style="background-color: #1e2129; ">


    <div class="main-container">
        <div class="container" >
        
          <% if (locals.movies ) { %>
            <% 
            const itemsPerPage = 18;
            const currentPage = parseInt(query.page) || 1;
            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            const paginatedMovies = movies.slice(startIndex, endIndex); 
            %>
            <div class="movies-wrapper">
              <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">
                <% paginatedMovies.forEach((movie) => { %>
                  <div class="col">
                    <a href="/view/<%= movie.imdbID %>" class="text-decoration-none">
                      <div class="card movie-card">
                        <div class="movie-img-container">
                          <img 
                            src="<%=movie.Images[0]%>" 
                            class="card-img-top" 
                            alt="<%= movie.Title %>"
                          >
                          <div class="movie-overlay">
                            <h5 class="movie-title"><%= movie.Title %></h5>
                          </div>
                          <span class="hd-badge">HD</span>
                        </div>
                      </div>
                    </a>
                  </div>
                <% }) %>
              </div>
            </div>
      
            <!-- Pagination -->
            <nav aria-label="Movie pagination" >
              <ul class="pagination justify-content-center">
                <% 
                const totalPages = Math.ceil(movies.length / itemsPerPage);
                const maxVisiblePages = 5;
                let startPage = Math.max(1, currentPage - Math.floor(maxVisiblePages / 2));
                let endPage = Math.min(totalPages, startPage + maxVisiblePages - 1);
                
                if (endPage - startPage + 1 < maxVisiblePages) {
                    startPage = Math.max(1, endPage - maxVisiblePages + 1);
                }
                %>

                <!-- Previous button -->
                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage - 1 %>" <%= currentPage === 1 ? 'tabindex="-1" aria-disabled="true"' : '' %>>Previous</a>
                </li>

                <!-- First page if not visible -->
                <% if (startPage > 1) { %>
                    <li class="page-item">
                        <a  class="page-link" href="?page=1">1</a>
                    </li>
                    <% if (startPage > 2) { %>
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    <% } %>
                <% } %>

                <!-- Visible page numbers -->
                <% for (let i = startPage; i <= endPage; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>

                <!-- Last page if not visible -->
                <% if (endPage < totalPages) { %>
                    <% if (endPage < totalPages - 1) { %>
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    <% } %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= totalPages %>"><%= totalPages %></a>
                    </li>
                <% } %>

                <!-- Next button -->
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage + 1 %>" <%= currentPage === totalPages ? 'tabindex="-1" aria-disabled="true"' : '' %>>Next</a>
                </li>
            </ul>
        </nav>
    <% } %>
    
</div>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
</body>
<%- include("partials/footer.ejs") %>